# .NET Core
bin/
obj/
*.user
*.vs/
Debug/
Release/
*.pdb
*.dll
*.exe
*.cache
*.suo
*.tmp
*.log
*.dat
*.db
*.db3
*.sqlite
*.sqlite3
*.bak
[Tt]humbs.db
[Tt]est[Rr]esult*
*.vspscc
*.vssscc
*.psess
*.vsp
*.pidb
*.ipch/
*.opendb
*.ncb
*.sdf
*.sln.docstates

# Angular
node_modules/
dist/
tmp/
coverage/
*.log
.idea/
*.iml
*.ipr
*.iws
.vscode/
*.ngstyle
*.ngsummary.json
*.ngfactory.ts
*.ngc.ts
*.d.ts
*.metadata.json
